<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.1.dtd" >
<suite name="E2E Suite">
    <listeners>
        <listener class-name="com.Pearson.Utilities.TestListener"/>
    </listeners>
    <test name="E2E Run">
        <classes>
            <class name="com.Pearson.Pages.EndtoEndTest"/>
        </classes>
    </test>
</suite>
